/* Default CSS */

@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: 'Do Hyeon', sans-serif;
}

img {
    vertical-align: top;
    border: none;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix {
    clear: both;
}




/* index.html */
#intro .fullBackground {
    background-position: center center;
    background-attachment: fixed;
    block-size: cover;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#intro .overlay {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.55);
}

#intro .textWrap {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

#intro .textWrap h1 {
    margin-bottom: 16px;
    color: #ffffff;
    font-size: 35px;
}

#intro .textWrap a {
    color: #ffffff;
    font-size: 20px;
    text-decoration: underline;
    opacity: 0.7;
}




/* main.html */
#header {
    position: fixed;

    width: 100%;
    height: 50px;
    background-color: white;
    border-bottom: solid 1px #d4d4d4;

    top: 0;
    left: 0;

    z-index: 9999;
}

#header .left {
    position: absolute;

    width: 25px;
    height: 25px;

    background: url('../img/main/nav.png');
    background-size: 100%;

    top: 12px;
    left: 16px;

    cursor: pointer;
}

#header .logo {
    padding-top: 12px;
    text-align: center;
}

#header .logo img {
    height: 25px;
}

#side_nav {
    position: fixed;

    width: 180px;
    background-color: #ffffff;
    border-right: solid 1px #d4d4d4;
    box-shadow: 2px 0 15px #d4d4d4;

    top: 0;
    left: -200px;
    bottom: 0;

    z-index: 9999;
}

#side_nav .close {
    width: 100%;
    height: 50px;

    border-bottom: solid 1px #d4d4d4;
    box-shadow: 0 2px 15px #d4d4d4;

    margin-bottom: 10px;
    padding: 16px 16px 0 0;

    text-align: right;
    font-size: 17px;
    font-weight: bold;
}

#side_nav .close .close_btn {
    cursor: pointer;
}

#side_nav ul li a {
    display: inline-block;

    width: 100%;

    color: #151515;
    padding: 15px 0 15px 20px;
    font-weight: bold;
}

#main {
    width: 100%;
    padding-top: 50px;
}

#main .main_intro {
    width: 100%;
    height: 250px;
    background: url("../img/main/main_intro.jpg") no-repeat center;
    background-size: cover;

    line-height: 30px;
    margin-bottom: 24px;
    padding: 64px 32px 0 32px;
}

#main .main_intro h2 {
    font-size: 32px;
    color: white;
    margin-bottom: 24px;
}

#main .main_intro p {
    font-size: 14px;
    line-height: 22px;
    color: white;
    opacity: 0.7;
}
